@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root{
    --color-light : #FFFFFF;
    --color-dark : #0B0B0D;
    --color-accent-1 : #3394F6;
    --color-accent-2: linear-gradient(#06DBAC, #BD00FF);

    --button-height : 48px;
    --container-width: 1320px;
    --container-padding-x: 40px;
    --transition-duration: 0.3s;
    --header-height: 75px;

    --border: 1px solid var(--color-light);
    --border-radius: 50px;

    --font-family-base : 'Inter' , 'sans-serif';
}

body{
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--color-dark);
}

a{
    color: var(--color-light);
    text-decoration: none;
    transition: var(--transition-duration);
}

a:hover{
    transition: var(--transition-duration);
    color: var(--color-accent-1);
}

p{
    margin-block: 0;
}



h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-light);
    line-height: 1.2;
    margin: 0;
}

h1{
    font-size: clamp(40px,4.1vw, 80px);
    text-transform: none;
}
h2{
    font-size: clamp(30px,3.3vw, 64px);
}


.visually-hidden{
    position: absolute; !important;
    width: 1px; !important;
    height: 1px; !important;
    margin: -1px; !important;
    bottom: 0; !important;
    padding: 0; !important;
    white-space: nowrap; !important;
    clip-path: inset(100%); !important;
    clip: rect(0 0 0 0); !important;
    overflow: hidden; !important;
}

button{
    position: relative;
    display: inline-flex;
    height: var(--input-height);
    padding: 10px 20px;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color-light);
    transition: var(--transition-duration);
}

.button:hover{
    color: var(--color-accent-1);
    border-color: var(--color-accent-1);
    transition: var(--transition-duration);
}


.button-link{
    padding-right: 66px;
}

.button-link:before{
    content: '';
    position: absolute;
    top:50%;
    right: 30px;
    translate: 0 -50%;
    width: 12px;
    aspect-ratio: 1;
    background: url("./icons/arrow.svg") center/cover no-repeat;
    transition: var(--transition-duration);
}

.button-link:hover.button-link:before{
    filter: blur(1px);
    transition: var(--transition-duration);
}


.header{
    position: relative;
    max-height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--container-padding-x);
    column-gap: 20px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
}

.header::after{
    position: absolute;
    background-color: var(--color-light);
    bottom: 0;
    content: "";
    width: 95%;
    height: 1px;
    left: 50%;
    translate: -50% 0;
}
.header:before{
    content: '';
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: linear-gradient(#FB03F5, #3394F6);
    border-radius: 50%;
    filter: blur(200px);
    left:-500px;
    top:-500px;
    z-index: -1;
}

.header-logo{
    flex-shrink: 0;
}
.header-social-link{
    flex-shrink: 0;
}
.header-menu-list{
    display: flex;
    column-gap: 52px;
}

.header-menu-link {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    height: var(--header-height);
}

.header-social{
    display: flex;
    column-gap: 30px;
}

.banner{
    position: relative;;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-inline: var(--container-padding-x);
}
.banner-background-image{
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    right: 9.35vw;
    top:0;
    max-width: 639px;
    min-width: 639px;
    height: auto;
    z-index: -1;
    scale: 1.35;
}

.banner-text-description:not(:last-child){
    margin-bottom: 28px;
    margin-top: 28px;
}

.banner-text-credits{
    display: flex;
    column-gap: 30px;
}

.separate-text{
    width: 100%;
    padding: 24px 0;
    column-gap: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-light);
    border-bottom: 1px solid var(--color-light);
    overflow-x: hidden;
}

.separate-text p {
    display: flex;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    flex-shrink: 0;
    overflow-x: hidden;
}

.work{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--container-padding-x);
}

.work-text, .work-circle{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.work-text-description{
    margin-top: 36px;
}

.work-circle:before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient( #3394F6, #FB03F5);
    border-radius: 50%;
    filter: blur(200px);
    z-index: -1;
}
.work-circle:after{
    content: '';
    position: absolute;
    height: 414px;
    width: 485px;
    left: 10.41vw;
    top: 0;
    background: url("./icons/Square.svg") center/contain no-repeat;
}

.work-circle img{
    height: auto;
}

.marketplace{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--container-padding-x);
    margin-top: 80px;
}

.marketplace-text{
    display: flex;
    flex-direction: column;
}

.motivation-card-description{
    margin-top: 19px;
}

.marketplace-text-button{
    max-width: 270px;
    margin-top: 60px;
}

.marketplace-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.marketplace-images-item{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.marketplace-images-item img{
    height: auto;
}

.marketplace-images-item:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 195px;
    border: 1px solid var(--color-light);
    left: -15px;
    top: 15px;
    z-index: -1;
}

.marketplace-images-description p{
    position: relative;
    padding-left: 20px;
}

.marketplace-images-description p:before{
    content: '';
    position: absolute;
    top: 50%;
    left:0;
    translate: -0% -50%;
    width: 14px;
    aspect-ratio: 1;
    background: url("./icons/solar.svg") center/contain no-repeat;
}
