.button{
  border:none;
  background-color: var(--color-accent);
  color: var(--color-light);
  border-radius:20px 0 20px 0;
  min-width: 140px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: 42px;

  &:hover{
    background-color: var(--color-decoration);
  }
}