.container{
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  // Просчитывает максимальную ширину контейнера 1240 + 40 * 2 = 1320px ширина контейнера
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  // Задает падинг в 40 пикселей слева и справа
}

.visually-hidden{
  @include visually-hidden;
}
// Оптимальный способ сделать скрытый текст в блоке

.hidden-mobile{
  @include mobile {
    display: none !important;
  }
}
// Не видно на десктопе и планшете
.visible-mobile{
  @include mobile-above{
    display: none !important;
  }
}
// Видно на десктопе и планшете