:root{
  --color-light: #FFFFFF;
  --color-dark: #212121;
  --color-dark-gray: #646464;
  --color-accent: #37806B;
  --color-accent-2: #CAA892;
  --color-decoration: #B0855B;

  --section-padding-y : 90px;
  --button-height: 50px;

  --font-family-base: 'Open Sans', sans-serif;
  --font-famity-title: 'Poppins', sans-serif;

  --transition-duration : 0.3s;

  --container-width: 1346px;
  --container-padding-x: 20px;
}